* {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Arial', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    width: 100%;
    height: 1855px;
    min-width: 1200px;
    user-select: none;
}

.head_1 {
    height: 98px;
    width: 730px;
    margin-top: 30px;
}

.navbar-nav>li>a {
    color: #797979;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar-nav>li>a:hover {
    color: #b6124a;
    background-color: white;
}

.active {
    background-color: #b6124a;
    border-radius: 5px
}

.navbar-nav>li>ul {
    background-color: black;
    opacity: 0.7;
}

.navbar-nav>li>ul>li>a {
    color: white;
}

.title_1 {
    color: #000;
    margin: 40px auto 30px auto;
}

.faculty {
    width: 360px;
    height: 239px;
    margin: 0;
}

.read_btn {
    color: #b6124a;
    font-size: 16px;
    font-weight: 600;
}

.read_btn:hover {
    color: #428bca;
}

.quote {
    font-style: italic;
    font-family: Georgia;
    color: #999;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

.quote p {
    margin: 10px 0 20px;
}

.list.custom-list ul li a {
    font: 14px/1.2em 'Roboto', sans-serif;
    color: #b6124a;
    text-transform: none;
    display: inline;
    position: relative;
}

h2 {
    margin: 30px 0;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    color: inherit;
    display: block;
    color: #000;
    display: block;
}

.list.custom-list ul li {
    margin: 0;
    padding: 4px 0 5px 30px;
    border-top: 1px solid #f2f2f2;
    position: relative;
    background: url(../images/arrow.png) no-repeat 0 11px;
}

.platform_nail {
    text-indent: 12px;
    display: block;
}

.title_box {
    background: #b6124a;
    padding: 5px 0;
    display: block;
    text-indent: 12px;
    color: #fff;
}

.platform_nail a {
    line-height: 30px;
    color: white;
    text-align: center;
    outline: none;
}

.platnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.platnail img {
    width: 100% !important;
}

.inner_box {
    background-color: #DDD;
    padding: 8px;
    font-size: 13px;
}

.inner_box:hover {
    background-color: #686868;
}

.inner_box a {
    color: #000 !important;
}

footer {
    border-top: 1px solid #e5e5e5;
    background: #ECECEC;
    margin-top: 50px;
}

#end {
    background-color: #222;
    font-size: 12px;
    height: 80px;
    padding: 15px 0;
}

#end a {
    color: #aaa;
}

#end a:hover {
    color: white;
}

.panel {
    background-color: #222;
    margin-bottom: 15px;
}

.panel-body {
    padding: 0 15px;
}

.panel-body p {
    display: block;
}

.text-right p {
    margin: 0;
}

.social {
    margin: 20px 0;
}

.social span {
    width: 30px;
    height: 39px;
    margin: 0 5px;
    color: #8c8c8c;
}

.social span:hover {
    color: #b6124a;
}