@charset "utf-8";
/* CSS Document */

.footer{
	width: 100%;
	height: 80px;
	border-top:5px solid #CCCCCC;
	margin-top: 35px;
}
.footer p{
	text-align: center;
	font-size: 13px;
	font-family: "宋体";
}