@charset "utf-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.body{
    width: 100%;
	min-width: 1200px;
	font-family: "宋体";
}
a{
	text-decoration: none;
	font-family: "宋体";
}
p{
	font-family: "宋体";
}

/* head start */
.add{
	width: 100%;
	height: 30px;
	background-color: #39A4DB;
}
.add ul{
	width: 400px;
	height: 80%;
	padding-top: 5px;
	float: right;
}
.add ul .li1{
	float: left;
	color: #fff;
	margin-left: 10px;
	cursor: pointer;
	font-size: 14px;
	font-family: "宋体";
}
.add ul .li2{
	float: left;
	color: #fff;
	float: right;
	margin-right: 10px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}
.add ul .li2 a{
	color: #FFF;
}
.logo{
	width: 100%;
	height: 100px;
}
.logo img{
    margin-left: 15%;
    margin-top: 20px;
}
.menu {
	width: 100%;
	height: 45px;
	z-index: 10;
	position: relative;
	background-color: #39A4DB;
}
.menu ul{
	width: 1200px;
	height: 100%;
	margin:0 auto;
	color: #fff; 
}
.menu ul li{
	width: 120px;
	height: 35px;
	float: left;
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
}
.menu ul .first{
	background-color: #3C93ED;
}
.menu ul >li >a{
	width: 120px;
	height: 45px;
	color: #FFF;
}
.menu ul li:hover{
	//background-color: #3C93ED;
}
.menu ul >li ol{
	margin-top: 14px;
}
.menu ul >li ol li{
	width: 120px;
	height: 35px;
	float: left;
	color: #fff;
	padding-top: 10px;
	text-align: center;
	background-color: #39A4DB;
}
/* head end */

