<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url() . '/style/admin/css/public.css' ?>">
    <title>Document</title>
</head>

<body>
    <table class="table">
        <tr>
            <td class="th" colspan="10">查看留言</td>
        </tr>

        <tr>
            <td>EID</td>
            <td>邮箱</td>
            <td>发表时间</td>
			<td>内容</td>
            <td>操作</td>
        </tr>

        <?php foreach ($email as $v) : ?>
            <tr>
                <td><?php echo  $v['eid'] ?></td>
                <td><?php echo  $v['email'] ?></td>
                <td><?php echo  $v['time']; ?></td>
				<td><?php echo  $v['content']; ?></td>
				

                <td>
                    [<a href="">编辑</a>]
                    [<a href="<?php echo site_url('admin/email/del/'.$v['eid'])?>">删除</a>]
                </td>
            </tr>
        <?php endforeach ?>
    </table>
    <div class="page">
        <?php echo $links ?>
    </div>
</body>

</html>