.mes_content {
    width: 950px;
    margin: 30px auto;
}
.content_sign {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 5px solid #39A4D8;
}
.content_sign a{
    color: black;
}
.mes_content>p{
    height: 50px;
    line-height: 50px;
    color: #39A4DB;
    font-weight: bold;
}
.mes_content textarea{
    font-size: 100%;
}
.mes_content span{
    line-height: 40px;
    font-size: 16px;
}
.th{
    width: 950px;
    height: 40px;
}