@charset "utf-8";
/* CSS Document */
.footer{
	width: 100%;
	height: 80px;
	border-top:5px solid #CCCCCC;
	margin-top: 70px;
}
.footer p{
	text-align: center;
	font-size: 17px;
	font-family: "宋体";
}