.Content{
    width: 1138px;
    height: 1320px;
    margin: 10px auto;
    padding: 10px;
}
.notices{
    width: 1138px;
    height: 110px;
}
.title{
    width: 1133px;
    height: 40px;
    padding-left: 5px;
    border-bottom: 2px solid #1877B7;
    line-height: 40px;
    font-size: 18px;
}
.title p{
    margin: 0;
    float: left;
    cursor: pointer;
}
.title p:hover{
    transition: 0.5s;
    color: #1877B7;
}
.title span{
    float: right;
    font-size: 12px;
    color: gainsboro;
    cursor: pointer;
}
.date{
    width: 1118px;
    height: 50px;
    padding: 10px;
}
.date li{
    width: 1098px;
    height: 30px;
    padding: 10px;
    position: relative;
}
.date span{
    font-size: 20px;
    color: #1877B7;
    width: 120px;
    height: 40px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid gainsboro;
    float: left;
    line-height: 40px;
}
.date p{
    margin: 0;
    line-height: 40px;
    padding-left: 10px;
    float: left;
    font-size: 14px;
    cursor: pointer;
}
.date p:hover{
    transition: 0.2s;
    color: #1877B7;
}
.date img{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 0;
}
.news{
    width: 1138px;
    height: 310px;
    margin-top: 10px;
}
.img_cont{
    width: 310px;
    height: 230px;
    padding: 10px 0 10px 10px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    float: left;
}
.img_cont_wrap{
    width: 930px;
    height: 230px;
    border-radius: 20px;
    position: absolute;
}
.img_cont_wrap img{
    width: 310px;
    height: 230px;
    float: left;
}
.cont_wrap{
    width: 310px;
    height: 230px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
}
.img_cont_ico{
    position: absolute;
    right: 0;
    bottom: 20px;
}
.img_cont_ico li{
    text-align: center;
    float: left;
    width: 20px;
    height: 18px;
    background-color: #666;
    line-height: 19px;
    font-family: 宋体;
    color: white;
    border-left: 1px solid white;
    cursor: pointer;
}
.text{
    width: 800px;
    height: 236px;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}
.text li{
    width: 360px;
    height: 39px;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid gainsboro;
    float: left;
    margin-right: 18px;
    cursor: pointer;
}
.text li:hover{
    transition: 0.2s;
    color: #1877B7;
}
.middle{
    width: 1138px;
    height: 680px;
    margin-top: 20px;
}
.m_left{
    width: 680px;
    height: 660px;
    padding: 10px 20px 10px 0;
    float: left;
}
.m_right{
    width: 410px;
    height: 660px;
    padding: 10px;
    float: left;
}
.m_title{
    width: 685px;
    height: 40px;
    padding-left: 5px;
    font-size: 18px;
    line-height: 40px;
    border-bottom: 2px solid #1877B7;
}
.m_title span{
    cursor: pointer;
    float: left;
}
.m_title span:hover{
    transition: 0.2s;
    color: #1877B7;
}
.m_title p{
    float: right;
    margin: 0;
    line-height: 40px;
    font-size: 12px;
    color: gainsboro;
}
.m_text_1{
    width: 680px;
    height: 160px;
    padding: 10px;
}
.m_text_1 li{
    width: 680px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 29px;
}
.m_text_1 span{
    width: 50px;
    height: 30px;
    margin-right: 20px;
    border-right: 1px solid gainsboro;
    float: left;
}
.m_text_1 a{
    cursor: pointer;
}
.m_text_1 a:hover{
    transition: 0.2s;
    color: #1877B7;
}
.m_text_2{
    width: 680px;
    height: 160px;
    padding: 10px;
}
.m_text_2 li{
    width: 680px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 29px;
}
.m_text_2 span{
    background: url(../image/tag.jpg) 0 0 no-repeat;
    width: 100px;
    height: 30px;
    float: left;
    margin-right: 20px;
    text-align: center;
    color: white;
    line-height: 30px;
}
.m_text_2 a{
    cursor: pointer;
}
.m_text_2 a:hover{
    transition: 0.2s;
    color: #1877B7;
}
.m_text_3{
    width: 680px;
    height: 160px;
    padding: 10px;
}
.m_text_3 li{
    width: 680px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 29px;
}
.m_text_3 span{
    width: 100px;
    height: 30px;
    float: left;
    margin-right: 20px;
    text-align: center;
    color: #1877B7;
    line-height: 30px;
}
.m_text_3 a{
    cursor: pointer;
}
.m_text_3 a:hover{
    transition: 0.2s;
    color: #1877B7;
}
.right_1{
    width: 418px;
    height: 198px;
    margin-bottom: 20px;
    overflow: hidden;
}
.right_L{
    width: 130px;
    height: 198px;
    background-color: #009999;
    border-radius: 5px 0 0 5px;
    text-align: center;
    float: left;
    cursor: pointer;
}
.right_L img{
    margin-top: 45px;
}
.right_R{
    width: 288px;
    height: 198px;
    float: left;
    position: relative;
}
.right_R img{
    width: 288px;
    height: 198px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    cursor: pointer;
}
.right_R span{
    width: 100%;
    position: absolute;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    bottom: -40px;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    transition: 0.6s;
}
.piclinks{
    width: 1138px;
    height: 200px;
}
.piclinks li{
    width: 220px;
    height: 140px;
    padding: 10px;
    margin-right: 55px;
    float: left;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
    position: relative;
}
.piclinks img{
    width: 220px;
    height: 140px;
    position: absolute;
}
.piclinks span{
    position: absolute;
    width: 220px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    line-height: 40px;
    bottom: 10px;
}