.Links{
    width: 1138px;
    height: 99px;
    padding: 10px;
    margin: 10px auto;
}
.cube{
    position:relative;
    height:29px;
    transform-style:preserve-3d;
    transform:rotateY(0deg);
    transition:0.5s;
    float: left;
    margin: 10px 20px 10px 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    line-height: 28px;
    font-size: 15px;
}
.cube div{
    position:absolute;
    height:29px;
    text-align:center;
}
.cube div:nth-child(1){
    transform:rotateX(-90deg) translateZ(14.5px);
    background:rgb(40,162,238);
}
.cube div:nth-child(2){
    transform:translateZ(14.5px);
    background:#2195de;
}
.cube:hover{
    transform:rotateX(90deg);
}
.l1,.cu1{
    width: 73px;
}
.l2,.cu2{
    width: 88px;
}
.l3,.cu3{
    width: 118px;
}
.l4,.cu4{
    width: 138px;
}
.l5,.cu5{
    width: 103px;
}
.l6,.cu6{
    width: 238px;
}
.l7,.cu7{
    width: 178px;
}
.Links span{
    float: left;
}
.lin_1{
    width: 73px;
    height: 29px;
    background-color: #2195de;
    margin: 10px 20px 10px 20px;
}
.Links a{
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 29px;
}
.lin_2{
    width: 88px;
    height: 29px;
    background-color: #2195de;
    margin: 10px 20px 10px 20px;
}
.lin_3{
    width: 118px;
    height: 29px;
    background-color: #2195de;
    margin: 10px 20px 10px 20px;
}
.lin_4{
    width: 133px;
    height: 29px;
    background-color: #2195de;
    margin: 10px 20px 10px 20px;
}
.lin_5{
    width: 103px;
    height: 29px;
    background-color: #2195de;
    margin: 10px 20px 10px 20px;
}
.lin_6{
    width: 238px;
    height: 29px;
    background-color: #2195de;
    margin: 10px 20px 10px 20px;
}
.lin_7{
    width: 178px;
    height: 29px;
    background-color: #2195de;
    margin: 10px 20px 10px 20px;
}
.Footer{
    width: 100%;
    height: 120px;
    text-align: center;
    margin-top: 30px;
    background-color: #1877B7;
}
.Footer p{
    color: white;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 0;
}
.p1{
    float: left;
    width: 100%;
}
.p2{
    float: left;
    width: 100%;
}